:root {
    --top-text-color: #ffffff;
    --top-text-hover-color: #cccccc;
    --header-color-2: #000000;
    --header-color-1: rgb(5, 40, 90);
    --navbar-color: rgb(50, 105, 190);
    --bg-color: rgb(220, 220, 230);
    --footer-color: rgb(120, 120, 130);
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Forces the footer to go at the bottom */
    align-items: center;
    background-color: var(--bg-color);
}

header {
    padding: 10px 0;
    width: 100%;
    background-image: linear-gradient(var(--header-color-1), var(--header-color-2));
    color: var(--top-text-color);
    text-align: center;
}

nav {
    position: sticky;
    top: 0;
    padding: 12px 0;
    width: 100%;
    background-color: var(--navbar-color);
    text-align: center;
}

nav a {
    margin: 5px 20px;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--top-text-color);
}

nav a:hover {
    color: var(--top-text-hover-color);
}

main {
    flex: 1;
    width: 100%;
}

#main-width-limit {
    max-width: 800px;
}

footer {
    padding: 10px 0;
    width: 100%;
    background-color: var(--footer-color);
    font-size: 1.2rem;
    color: var(--top-text-color);
    text-align: center;
}

footer div {
    margin: 10px 0;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.6rem;
    margin-top: 10px;
}

h4 {
    font-size: 1.8rem;
    font-weight: 500;
}

p {
    font-size: 1.1rem;
    line-height: 2;
    margin-top: 22px;
}

ul {
    font-size: 1.1rem;
    line-height: 1.8;
}

.main-section {
    margin-top: 36px;
    margin-bottom: 72px;
}

#page-title {
    margin-top: 36px;
    text-align: center;
}


/* For login.html */
.form-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#userEmail, #userPassword {
    border: 2px solid black;
}

.submit-btn {
    margin: 0 auto;
}

.btn {
    font-size: 1.25rem;
    background: var(--btn-background);
    margin-top: 1em;
    padding: 0.35em 0.75em;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: gray;
}

/* For bubble-simulation.html */
canvas {
    background: white;
    /* border-bottom: 2px solid white; */
    /* border-top: 2px solid white; */
}

#simulation-top-bar {
    display: flex;
    justify-content: center;
}

#simulation-top-bar > * {
    margin: 0 100px;
    margin-bottom: 10px;
}

#simulation-info {
    display: flex;
    justify-content: center;
}

#simulation-info > * {
    margin: 0 25px;
}

#simulation-parameters-button {
    border: none;
    background-color: transparent;
    color: var(--navbar-color);
    font-size: 1.8rem;
    font-weight: 700;
    cursor: pointer;
}